body{
    background-color:cadetblue ;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.container{
    width:80%;
    margin:50px auto;
}
.contact_box{
    background: white;
    display:flex;
}
.contact-left{
    flex-basis:60%;
    padding:40px 60px;
}
.contact-right{
    flex-basis:40%;
    padding:40px ;
    background: rgb(3, 41, 43);
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row.input-group{
flex-basis: 45%;
}
input{
    width:100%;
    border:none;
    border-bottom: 1px solid #ccccccc9;

}
textarea{
    width:100%;
    border:1px solid black;
}